@import '../../../theme/scss/mixins';
@import '../../../theme/scss/vars';

.formHeader {
    @include formHeader;
    span.material-icons {
        @include material-icons;
    }
    span.header {
        @include header;
        strong {
            font-weight: 900;
        }
    }
}
.container {
    background-color: #fff;
    max-height: 420px;
    overflow: auto;
    .list-group-item {
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 20px;
        .color {
            height: 100%;
            border-left: 3px solid;
        }
        .row {
            p {
                font-size: 12px;
            }
            .no-padding {
                padding: 0px;
            }
            .red {
                color: red;
            }
            .green {
                color: green;
            }
        }
        .float-right {
            display: contents;
        }
    }
}