@import '../vars';
@import '../mixins';
$margintop : 40px;

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid #eae6e6;
}

.background {
    margin-top: 60px;
    margin-bottom: 10px;
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 85vh;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #fff;
        z-index: 0;
        opacity: 0.6;
    }
    .flex {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        z-index: 1;
        position: relative;
        .flexone {
            margin-top: $margintop;
            width: 22%;
            margin-right: 2%;
        }
        .flexsecond {
            margin-top: $margintop;
            width: 40%;
        }
    }
}

@media only screen and (max-width:767px) {
    .background {
        .flex { 
            display: block;
            .flexone, .flexsecond  {
                width: 100%;
                max-width: 90%;
                margin: 0 auto;
                margin-top: 10px;
            }
            .flexsecond {
                .container {
                    max-height: 250px;
                }
            }
        }
    }
}

.formHeader {
    @include formHeader;
    span.material-icons {
        @include material-icons;
    }
    span.header {
        @include header;
        strong {
            font-weight: 900;
        }
    }
}
.container {
    background-color: #fff;
    max-height: 420px;
    overflow: auto;
    .list-group-item {
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 20px;
        .color {
            height: 100%;
        }
        .row {
            p {
                font-size: 12px;
            }
            .no-padding {
                padding: 0px;
            }
            .red {
                color: red;
            }
            .green {
                color: green;
            }
        }
        .float-right {
            display: contents;
        }
    }
}