<!-- Header start -->
<div class="toolbar" role="banner">
  <app-logo></app-logo>
</div>
<!-- / Header end -->
<!-- Body start -->
<div class="background">
  <div class="flex">
    <!-- Make Transfer start -->
    <div class="flexone">
      <app-make-transfer></app-make-transfer>
    </div>
    <!-- / Make Transfer end -->
    <!-- Transaction List start -->
    <div class="flexsecond">
        <app-transactions-list></app-transactions-list>
    </div>
    <!-- / Transaction List end -->
  </div>
</div>
<!-- / Body end -->
<!-- Footer start -->
<app-footer></app-footer>
<!-- / Footer end -->
<router-outlet></router-outlet>